<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - itdiv_mini_project</title>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
 </head>
<body>
    <header>
        <nav class="my-navbar">
            <div class="container">
                <ul class="my-nav-list">
                <a class="my-brand" asp-area="" asp-controller="Home" asp-action="Index">Wearhouse</a>
                    <li><a asp-area="" asp-controller="Categories" asp-action="Index">Category</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                </ul>
                <ul class="my-nav-list">
                     @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="" asp-action="">@User.FindFirst("Name")?.Value</a></li>

                        <form asp-controller="User" asp-action="Logout" method="post">
                            <button type="submit" class="nav-link text-dark" style="border: none; background: none;">Logout</button>
                        </form>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="User" asp-action="Register">Register</a></li>
                        <li><a asp-area="" asp-controller="User" asp-action="Login">Login</a></li>
                    }
                     
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div> <a href="#">twitter</a>  <a href="#">facebook</a>  <a href="#">instagram</a></div>
        <div>Copyright &copy; 2021 Edwin Tjandraatmadja. All Rights Reserved </div>
     </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>