@page


<form method="post" action="/User/Login" id="registrationForm" class="form">
    <div class="form-header">
        <p class="header-text">Login</p>
    </div>
    <div class="form-body">
        <div>
            <label>Email</label>
            <input type="text" name="Email" placeholder="email" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="Password" placeholder="password" />
        </div>
        <div>
            <label for="TocConfirmation"></label>
            <input type="checkbox" name="TocConfirmation" id="TocConfirmation" /> Remember Me
        </div>
        <div>
            <label></label>
            <button>submit</button> <a href="#">Forgot Your Password?</a>
        </div>
    </div>
   
 </form>

<script>
    document.getElementById("registrationForm").addEventListener("submit", function (event) {
        var email = document.querySelector("[name='Email']").value;
        var password = document.querySelector("[name='Password']").value;
        var emailPattern = /^[A-Za-z0-9]+@@[A-Za-z0-9]+\.com$/;

        if (email.trim() === "" || !email.match(emailPattern)) {
            alert("Invalid email address.");
            event.preventDefault();
        }

        if (password.trim() === "") {
            alert("Password is required.");
            event.preventDefault();
        }
    });
</script>