@page
 @{
}

<h1 style="margin:0;">About Us</h1>
<div class="about-page">
<p>
    WearHouse is a fast fashion brand that was founded in 2019. WearHouse aims to provide
    affordable, high quality, trendy, and easy-to-access fashion apparels. To fulfill our goals, we have opened more than
    100 stores in various cities across Indonesia. We have a commitment to make each of our product available in every store,
    with equal price tags and build qualities regardless of location.

    <h2>Contact Us</h2>
    <p>
        Phone: (021) 12345 <br />
        Email: support@wearhouse.com
    </p>
</p>
</div>
 